header{
    padding: 64px;
    background-color: 0F084B;
}

h2{
    text-align: center;
    color:black;
}

h1 {
    text-align: center;
    color: white;
}

body {
    color:black;
    font-family: "Comic Sans MS";

}

.center{
    text-align: center;
    display: block;
}

.right{
    text-align: right;
    display: block;
}

.whitetext {
    color:white;
}
.img-container {
    padding: 8px;
    width:80%;max-width:420px
}

.footer{
    font-size: 8px;
    color:black;
    font-family: "Arial";
}

p{
    color: 070423;
    padding : 4px;
}

.regulartext{
    color: black;
}
.btn{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.padding-4 {
    padding: 4px;
}

.padding-16 {
    padding: 16px;
}

.padding-32 {
    padding: 32px;
}

.padding-64 {
    padding: 64px;
}

